body {
    font-family: Arial, sans-serif;
    background-image: url(icon/bild1.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
}

.login-container {
    background: white;
    padding: 50px;
    border-radius: 15px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    max-width: 300px;
    width: 100%;
}

.login-container h2 {
    margin-bottom: 10px;
    text-align: center;
}

.login-container label {
    display: block;
    margin: 10px 10 10px;
    text-align: center;
}

.login-container input {
    width: 85%;
    padding: 10px;
    margin-bottom: 20px;
    border: 5px solid #dcdcdc;
    border-radius: 10px;
}

.login-container button {
    background: #007BFF;
    color: white;
    padding: 15px;
    border: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 10.5);
}

.login-container button:hover {
    background: #0056b3;
}

#error {
    color: red;
    display: none;
    text-align: center;
    margin-top: 10px;
}
@media (max-width: 767px) {
      .container {
        padding: 20px;
      }
      h1 {
        font-size: 24px;
      }
      p {
        font-size: 16px;
      }
    }
    
    /* Стили для планшетов и больших экранов */
@media (min-width: 768px) {
      .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 40px;
      }
      h1 {
        font-size: 36px;
      }
      p {
        font-size: 18px;
      }
    }

