body {
    background-color: #000000; /* Черный фон */
    color: #ffffff; /* Белый текст */
    font-family: Arial, sans-serif; /* Шрифт */
    margin: 0;
    padding: 0;
}

.logo {
    max-width: 100px;
    height: auto;
    display: block;
    margin: 0 auto;
}

a {
    color: #ffffff; /* Белый цвет ссылок */
    text-decoration: none;
}

a:hover {
    color: #cccccc; /* Светло-серый цвет ссылок при наведении */
}

.menu-container {
    background-color: #111111; /* Темно-серый цвет меню */
}

/* Дополнительные стили для меню и кнопки toggle могут быть добавлены здесь */

.content-section {
    padding: 20px;
}

footer {
    background-color: #111111; /* Темно-серый цвет футера */
    color: #ffffff; /* Белый цвет текста в футере */
    padding: 10px;
    text-align: center;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    animation: marquee 20s linear infinite;
    background-color: #808080;
    color: #120a8f;
    padding: 10px 0;
}

@keyframes marquee {
    0% { text-indent: 100% }
    100% { text-indent: -100% }
}

/* Media queries для различных размеров экрана добавляются ниже */

/* Стили для мобильных устройств */
@media (max-width: 767px) {
    .container {
        padding: 20px;
    }
    h1 {
        font-size: 24px;
    }
    p {
        font-size: 16px;
    }
}

/* Стили для планшетов и больших экранов */
@media (min-width: 768px) {
    .container {
        max-width: 960px;
        margin: 0 auto;
        padding: 40px;
    }
    h1 {
        font-size: 36px;
    }
    p {
        font-size: 18px;
    }
}

/* Дополнительные стили и медиа-запросы могут быть добавлены здесь */

